<!DOCTYPE html>
<html>
<head>
    <title>Excluir Evento</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Excluir Evento</h1>
        <p>Você tem certeza que deseja excluir o evento "{{ evento.nome_evento }}"?</p>
        <form method="POST">
            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
            <!-- Botão para cancelar a exclusão e voltar para a página de eventos -->
            <a href="/eventos" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>




    <!-- Incluindo o jQuery e o Bootstrap JS via CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
